.carousel-item img {
    height: 30rem;
    object-fit: cover;
    object-position: bottom;
}

.accordion-button {
    width: 100%;
    border: none;
    padding: 0.5rem;
}

.curiosidades {
    font-size: 1.1rem;
}

.flecha-abajo {
    font-family: monospace;
    float: right;
    margin-right: 1rem;
}