body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 1.03rem;
    font-weight: bold;
}

span.hlg,
.badge {
    background-color: #000;
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
}

.row {
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
}

.col-xs-24 {
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    float: left;
    width: 100%;
}


/*HEADER*/

.navbar-collapse {
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: none;
    color: #1f2667;
}

.nav-logo__title {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 64px;
    padding-left: 2px;
}

.nav-logo__title span {
    font-size: 18px;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    font-size: 2rem;
}

.nav-item a:hover {
    color: black;
    font-size: 18.3px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar-collapse form {
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 1rem !important;
    }
    .navbar-collapse .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .navbar-collapse .navbar-nav .nav-item {
        margin: auto 1rem;
    }
}

@media only screen and (min-width: 641px) {
    .nav-logo__title {
        font-size: 24px;
        padding-left: 8px;
    }
}

.btn-outline-dark {
    color: #000;
    border-color: #000;
}

.btn-outline-dark:hover,
.btn-outline-dark:active {
    color: #fff;
    background-color: #000;
    border-color: #000;
}