.contendor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.parallax {
    background-image: url(../img/cactus_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.centrado {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrollblock {
    position: relative;
    margin: 0;
    width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    font-weight: normal;
    margin: 0;
    font-family: "Chelsea Market", Georgia, serif;
    color: #000;
    line-height: 1;
}

h1 i {
    font-size: 3rem;
    margin-left: 0.5rem;
}

h2 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    font-family: "Chelsea Market", Georgia, serif;
    text-transform: lowercase;
}

p {
    width: 960px;
    margin: 40px auto;
    color: #000;
    line-height: 200%;
}

#arrow {
    margin-top: 5rem;
}

span.hgl {
    padding: 10px 15px;
    border-radius: 10px;
}

span.hgl:hover {
    padding: 15px 20px;
    cursor: pointer;
}


/*¿QUÉ SON?*/

.row {
    margin: 0;
    max-width: none !important;
}

.block-que-son {
    background-color: #348fd4;
}

.block-que-son h2 {
    color: #06406c;
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    font-family: "Chelsea Market", Georgia, serif;
    text-transform: lowercase;
}

.block-que-son span {
    color: #fff;
    background-color: #06406c;
}


/*ORIGEN*/

.block-origen {
    background-color: #06406c;
}

.block-origen h2 {
    color: #fff;
}

.block-origen p {
    color: #fff;
}

.block-origen span {
    color: #fff;
    background-color: #348fd4;
}


/*CARACTERÍSTICAS*/

.block-caracteristicas {
    background-color: #fff;
}

.block-caracteristicas h2 {
    color: #000;
}

.block-caracteristicas .cactus-img img {
    width: 4rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.block-caracteristicas .cactus-img img:hover {
    filter: drop-shadow(2px 4px 2px #585858);
    transform: scale(1.1);
}


/*AREOLA*/

.block-areola {
    background-color: #4c0d09;
}

.block-areola h2,
.block-areola p {
    color: #d3b2af;
}

.block-areola span,
.block-frutos span {
    color: #000;
    background-color: white;
}


/*ESPINAS*/

.block-espinas {
    background-color: #cc4037;
}

.block-espinas h2,
.block-espinas p {
    color: #4c0d09;
}

.block-espinas span,
.block-flores span,
.block-clima span,
.block-tipos span,
.block-caracteristicas span {
    color: #fff;
    background-color: #000;
}


/*FLORES*/

.block-flores {
    background-color: #ffc19f;
}

.block-flores h2 {
    color: #cc4037;
}

.block-flores img {
    width: 7rem;
}

.block-flores img:hover {
    filter: drop-shadow(2px 4px 2px #585858);
    transform: scale(1.1);
}


/*FRUTOS*/

.block-frutos {
    background-color: #000;
}

.block-frutos h2 {
    color: #fff;
}

.block-frutos p {
    color: #ddd;
}

.block-frutos img {
    width: 17rem;
}

.block-frutos img:hover {
    filter: drop-shadow(2px 4px 2px #585858);
    transform: scale(1.1);
}


/*SEMILLAS*/

.block-semillas {
    background-color: #f2f2f2;
}

.block-semillas h2 {
    color: #666;
}

.block-semillas .semillas-img img {
    width: 4rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.block-semillas img:hover {
    filter: drop-shadow(2px 4px 2px #585858);
    transform: scale(1.1);
}


/*TALLO*/

.block-tallo {
    background-color: #348fd4;
}

.block-tallo h2 {
    color: #06406c;
}

.block-tallo span.blue {
    background-color: #06406c;
    color: #fff;
}


/*CLIMA*/

.block-clima {
    background-color: #fff8c9;
}

.block-clima h2 {
    color: #2d2700;
}

.block-clima p {
    color: #615400;
}


/*VENTAJAS*/

.block-ventajas {
    background-color: #06406c;
}

.block-ventajas h2 {
    color: #fff;
}

.block-ventajas p {
    color: #fff;
}


/*TIPOS*/

.block-tipos {
    background-color: #ffc19f;
}

.block-tipos h2 {
    color: #cc4037;
}

.block-tipos .tipos-img img {
    width: 5rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.block-tipos img:hover {
    filter: drop-shadow(2px 4px 2px #585858);
    transform: scale(1.1);
}

@media (max-width: 992px) {
    p,
    span.hgl {
        width: auto;
        font-size: 1.4rem;
    }
    h2 {
        font-size: 3.5rem !important;
    }
    span.hgl {
        padding: 5px 10px;
    }
    span.hgl:hover {
        padding: 10px 15px;
    }
}


/* ANIMACIÓN */

.anim-typewriter {
    animation: typewriter 3.2s steps(48) 1s 1 normal both, blinkTextCursor 500ms steps(48) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0rem;
    }
    to {
        width: 24rem;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.line-1 {
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    margin-top: 4rem;
}

@media (max-width: 992px) {
    .centrado {
        top: 40%;
    }
}