#btnCrearEspecie {
    display: flex;
    justify-content: center;
}

input {
    width: 12rem;
    height: 2.4rem;
}

label {
    font-size: 1.2rem;
}

.row {
    margin: 0;
    padding: 0;
    max-width: none;
}

p {
    font-size: 1.3rem;
}


/*ESPECIES*/

.especies {
    background-color: #ffc19f;
}

.especies h2 {
    color: #cc4037;
    line-height: 4rem;
    font-weight: normal;
    font-family: "Chelsea Market", Georgia, serif;
    text-transform: lowercase;
}

.especies .tipos-img img {
    width: 5rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.especies span {
    color: #fff;
    background-color: #000;
    padding: 7px 15px;
    border-radius: 10px;
}

.especies span:hover {
    padding: 10px 20px;
    cursor: pointer;
}

.especies img:hover {
    filter: drop-shadow(2px 4px 2px #585858);
    transform: scale(1.1);
}


/*CREAR ESPECIE*/

.crear-especies {
    background-color: #f2f2f2;
}

.crear-especies h2 {
    color: #666;
    font-weight: bold;
}


/*FORM*/

input {
    border-radius: 0.6rem;
    border-style: dashed;
    font-size: 1rem;
    padding: 0.5rem;
}

input:focus {
    outline: none;
}

.btn-dark {
    background-color: #000;
}

.btn-dark:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}


/*TABLE*/

.table {
    font-size: 1.05rem;
}

.hide {
    display: none;
}

@media (max-width: 992px) {
    p,
    span.hgl {
        width: auto;
        font-size: 1.4rem;
    }
    h2 {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 650px) {
    .btn-container,
    .btn-container button {
        width: 100% !important;
        margin: 0 !important;
        margin-top: 1rem !important;
        justify-content: center !important;
    }
    .btn-container button {
        width: 100% !important;
    }
    .input-container {
        justify-content: flex-start !important;
    }
    .input-container label,
    .input-container input {
        width: 50%;
    }
}